{% extends 'base.html'%}

{%block title%}Про нас{%endblock%}

{%block content%}
<div class="container pricing-header p-3 pb-md-4 mx-auto text-center"><font style="vertical-align: inherit;"></font><font style="vertical-align: inherit;"><h1>Flask — это облегченная среда веб-приложений WSGI . Он предназначен для быстрого и легкого начала работы с возможностью масштабирования до сложных приложений. Он начинался как простая оболочка для Werkzeug и Jinja и стал одним из самых популярных фреймворков для веб-приложений Python.

Flask предлагает предложения, но не применяет никаких зависимостей или макета проекта. Разработчик должен выбрать инструменты и библиотеки, которые он хочет использовать. Сообщество предоставляет множество расширений, упрощающих добавление новых функций.</h1></font><font style="vertical-align: inherit;"></font></font>
</div>
{%endblock%}
