{% extends 'base.html'%}

{%block title%}Главная страница{%endblock%}

{%block content%}
<div class="container pricing-header p-3 pb-md-4 mx-auto text-center"><font style="vertical-align: inherit;"></font><font style="vertical-align: inherit;"><h1>Flask (веб-фреймворк)</h1></font><font style="vertical-align: inherit;"></font></font>
</div>
<div class="container pricing-header p-3 pb-md-4 mx-auto text-center"><font style="vertical-align: inherit;"></font><font style="vertical-align: inherit;"></font><font style="vertical-align: inherit;"></font></font>

      <h6 class="fs-5 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Основные возможности</font><font style="vertical-align: inherit;"></font></font></h6>
    <p class="fs-5 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Сервер и отладчик времени разработки</font></font></p>
    <p class="fs-5 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Интегрированная поддержка модульного тестирования</font></font></p>
    <p class="fs-5 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> RESTful-маршрутизация запросов</font></font></p>
    <p class="fs-5 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Использует шаблонизатор Jinja</font></font></p>
    <p class="fs-5 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Поддержка безопасных cookie (сессии на стороне клиента)</font></font></p>
    <p class="fs-5 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Полностью совместим с WSGI 1.0</font></font></p>
    <p class="fs-5 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Основан на Unicode</font></font></p>
    </div>

{%endblock%}